table
{
	width: 100px;

}

th 
{
	background: #273b47;
	color: white;
}

th
{
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom:  10px;

}

td 
{
	padding: 20px;
	/* text-align: center; */

}

table, td, th
{
	border:  1px solid #273b47;
}


div
{
	align-self: center;
}

table td:nth-child(4) 
{
	text-align: center;
}

