header
{
	border: 2px solid red;
	margin-bottom: 5px;
}

section
{
	border: 2px solid skyblue;
	margin-bottom: 5px;
}

table
{
	width: 95%;
	padding: 10px;
	
}

footer
{
	border: 2px solid purple;
}

th 
{
	background: #273b47;
	color: white;
}

th
{
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom:  10px;

}

td 
{
	padding: 20px;
	/* text-align: center; */

}


td, th
{
	border:  1px solid #273b47;
}

table td
{
	text-align: left;

}

