header
{
	border: 2px solid red;
	margin-bottom: 5px;
}

section
{
	border: 2px solid skyblue;
}

footer
{
	border: 2px solid purple;
}

table
{
	padding-bottom: 10px;
	width: 90%;
}

table th 
{
	text-align: left;
	border: 1px solid darkblue;
	background-color: darkblue;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}

table td
{
	border: 1px solid blue;
	padding-right: 10px;
	padding-left: 10px;

}